<div class="pos-f-t">
  <div [ngClass]="{'show': showFilters}" class="collapse" id="navbarToggleExternalContent">
    <div class="bg-inverse p-4">
      <h4 class="text-white">Filtrar and order</h4>
      <form class="form-inline">
        <label class="list-form--filterLabel text-muted"><input [(ngModel)]="selectedFilter" class="form-control mr-sm-2" type="radio" name="filter_by" [value]="'name'">Repository name</label>
        <label class="list-form--filterLabel text-muted"><input [(ngModel)]="selectedFilter" class="form-control mr-sm-2" type="radio" name="filter_by" [value]="'stargazers_count'">Stars count</label>
        <label class="list-form--filterLabel text-muted"><input [(ngModel)]="selectedFilter" class="form-control mr-sm-2" type="radio" name="filter_by" [value]="'open_issues_count'">Open issues count</label>
      </form>
    </div>
  </div>
  <nav class="navbar navbar-inverse bg-inverse">
    <button (click)="showFiltersToggle()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fa fa-filter"></span>
    </button>
  </nav>
</div>
<div class="container container-fluid">
  <div class="row">
    <div *ngFor="let repo of repositoryData | orderBy: selectedFilter : true; let i = index" class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <!-- Repo card -->
      <app-repo-card [repositoryData]="repo" [itemIndex]="i"></app-repo-card>
      <!-- end Repo card -->
    </div>
  </div>
</div>
