<div class="pos-f-t">
  <div [ngClass]="{'show': showFilters}" class="collapse" id="navbarToggleExternalContent">
    <div class="bg-inverse p-4">
      <h4 class="text-white">Filter and order</h4>
      <form name="formFilter">
        <p class="text-muted">Order by</p>
        <label class="list-form--filterLabel text-muted"><input [(ngModel)]="selectedOrder" class="mr-sm-2" type="radio" name="filter_by" [value]="'name'">Repository name</label>
        <label class="list-form--filterLabel text-muted"><input [(ngModel)]="selectedOrder" class="mr-sm-2" type="radio" name="filter_by" [value]="'stargazers_count'">Stars count</label>
        <label class="list-form--filterLabel text-muted"><input [(ngModel)]="selectedOrder" class="mr-sm-2" type="radio" name="filter_by" [value]="'open_issues_count'">Open issues count</label>
        <hr>
        <p class="text-muted">Filter results by</p>
        <label class="list-form--filterLabel text-muted">
          Language
          <select (ngModelChange)="showFilters = false" name="filterLanguage" [(ngModel)]="selectedFilter">
            <option *ngFor="let filter of languageFilters | orderBy: 'language'" [ngValue]="filter">{{filter.label}}</option>
          </select>
        </label>
      </form>
    </div>
  </div>
  <nav class="navbar navbar-inverse bg-inverse">
    <button (click)="showFiltersToggle()" class="navbar-toggler" type="button">
      <span class="fa fa-filter"></span>
    </button>
  </nav>
</div>
<div *ngIf="selectedFilter && selectedFilter.label != 'All'" class="jumbotron jumbotron-fluid">
  <div class="container text-center">
    <span>filtered by language: {{selectedFilter.label}} <button title="clear search" (click)="selectedFilter = languageFilters[0]" class="btn btn-secondary btn-sm" type="button" aria-label="Close"><span aria-hidden="true">&times;</span></button></span>
  </div>
</div>
<div class="container container-fluid">
  <div class="row">
    <div *ngFor="let repo of repositoryData | orderBy: selectedOrder : true | filterList : selectedFilter : 'language'; let i = index" class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <!-- Repo card -->
      <app-repo-card [repositoryData]="repo" [itemIndex]="i"></app-repo-card>
      <!-- end Repo card -->
    </div>
  </div>
</div>
